
*{
  margin: 0;
  padding: 0;
  }

body{
    background-color: rgb(79, 56, 56);
    font-family: 'Georgia', serif;
}

.navbar {
    display: flex;
    background-color: rgb(185, 215, 160);
    justify-content: space-between;
    align-content: center;
    padding: 15px 40px;
    border-radius: 8px 8px 8px 8px;
    margin: 1%;
   width: auto;
   }

.navbar ul {
      list-style: none;
      display: flex;
      gap: 30px;
}
.navbar ul li a {
      text-decoration: none;
      color: #111;
      font-size: 20px;
      font-weight: 500;
      transition: color 0.3s ease;
      padding-top: 10%;
    }
    .navbar ul li a:hover {
      color: #444;
      text-decoration: underline;
      
    }
    .logo{
        margin-top: 1px;
        font-size: 35px;
    }
   span{
    font-style: italic;
    font-weight: lighter; 
   }
  #item {
    margin: 10px;
    gap: 10px;
    border-radius: 8px;
  }
  .container{
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(7,1fr);
    grid-row: repeat(7,1fr);
    grid-template-areas: 
  "slogan       slogan      slogan      photo     photo     music     music"
  "slogan       slogan      slogan      photo     photo     music     music"
  "slogan       slogan      slogan      photo     photo     music     music"
  "slogan       slogan      slogan      photo     photo     music     music"
  "details      details     contact     contact   contact   music     music"
  "details      details     contact     contact   contact   music     music"
  "details      details     contact     contact   contact   social    social";
}

  
  .container1{
    background-color: #ca9393;
    grid-area: slogan;
    position: relative;
  }
  .container2{
    background-color: aliceblue;
    grid-area: photo;
  }
  .container3{
    background-color: blue;
    grid-area: music;
  }
  .container4{
    background-color: rgb(38, 156, 103);
    grid-area: details;
  }
  .container5{
    background-color: rgb(56, 231, 118);grid-area: slogan;
    grid-area: contact;
  
  }
  .container6{
    background-color: rgb(56, 231, 118);grid-area: slogan;
    grid-area: social;
  
  }
  .container1 .image1{
    height: 200px;
    width: 200px;
    right: 0;
    display: flex;
    float: inline-end;
    
  }
   .container .container1 .mainslogon{
   font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  position: absolute;
  bottom: 0;
  left: 10px;
  margin: 0 90px 50px 5px;
    }
    .container1 .it {
      font-style: italic;
      font-weight: bold;
      color: rgb(2, 139, 114);
    }
    .container2{
      background-image: url(images/bib.png);
      background-size: cover;
      background-position: center top;
    }
    .container3 .playlist {
      font-weight: bold;
      font-size: 20px;
      position: absolute;
       margin: 20px 0 0 20px;

    }
    .container3 .image2 {
    display: flex;
    right: 0;
    height: 5%;
    position: absolute;
     margin: 23px 20px 0 0;
    }
.container3 .image3{
  
  margin-top: 100px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 90%;
  display: block;
}
hr {
  margin-top: 10px;
}